html, body {
  height: 100%; /* Allow the body to take full height */
  margin: 0; /* Remove default margin */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  min-height: 100vh; /* Make sure the app takes at least full viewport height */
}

.content {
  flex: 1; /* This will push the footer to the bottom */
}
